/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes movement {
  0% {
    translate: -4px;
  }

  100% {
    translate: 4px;
  }
}

@keyframes heart {
  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* heart animation */

.heart {
  transform-origin: center;
}

.main-body {
  fill: transparent;
}

.core {
  fill: transparent;
}

.sparks {
  opacity: 0;
}

.card__icon-button:hover .core {
  fill: var(--contour-heart, #000);
  transition: fill 0.3s linear;
}

.card__icon-button:not(:hover) .core {
  fill: transparent;
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-heart, #000);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.card__icon-button:not(:hover) .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.card__icon-button:active .core {
  fill: var(--fill-heart, #ff0000);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--fill-heart, #ff0000);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon {
  height: 38px;
  cursor: pointer;
}

.like-icon .contour {
  fill: var(--contour-heart);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .core {
  fill: var(--fill-heart, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-heart, #ff0000);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--fill-heart, #ff0000);
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 1;
  animation-delay: 0.1s;
  animation-direction: alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 1;
  animation-delay: 0.3s;
  animation-direction: alternate;
}
