/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* Добрый день! Возникла в голове путаница по поводу понятия основной селектор.
Например ".button-animation:hover::before". Основным селектором ,как я понимаю, будет выстпупать .button-animation?
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bg-color, #fff);
  color: var(--main-color, #000);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--text-font);
  font-variation-settings: "wght" var(--text-weight, 400);
  line-height: normal;
}

/* header */

.header {
  display: grid;
  gap: 25px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--main-color);
  margin: 100px auto 0;
  line-height: normal;
  width: min(698px, 99%);
  padding-top: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
}

.header__text {
  display: grid;
  justify-content: center;
  gap: 20px;
}

.header__logo {
  font-family: var(--text-font-accent);
  font-size: var(--title-font-size);
  text-transform: uppercase;
  text-decoration: none;
}

.header__title {
  display: grid;
  justify-content: center;
  font-family: var(--text-font-accent);
  font-size: var(--subtitle-font-size);
  text-transform: uppercase;
}

/* menu */

.header__theme-menu {
  display: grid;
  justify-content: center;
  padding-left: 13px;
  padding-bottom: 25px;
}

.theme-menu__list {
  display: grid;
  line-height: 60%;
  gap: 14px;
}

.theme-menu__item:hover .theme-menu__button {
  cursor: pointer;
  opacity: 0.6;
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-family: var(--text-font-accent);
  text-transform: uppercase;
  padding: 0;
  transition: opacity 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button::after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  top: 15px;
  left: 0px;
  display: block;
  transition: width 0.3s;
  background-color: var(--main-color);
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled.theme-menu__button::before {
  content: "▶";
  position: absolute;
  left: -20px;
  top: 0;
  opacity: 0.6;
  width: 14px;
  height: 14px;
  animation: movement infinite 0.5s alternate;
  transition-timing-function: ease-in-out;
}

/* content */

.content {
  display: grid;
  margin: 103px auto;
  inline-size: var(--card-width);
}

.section__block {
  display: grid;
  gap: 51px;
  margin-bottom: 54px;
}

.section__block-article {
  display: grid;
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--main-color);
}

.section__title {
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 18px;
  font-variation-settings: "wght" var(--title-weight, 700);
}

.section__block-image {
  position: relative;
  border-top: 2px solid var(--main-color, #000);
  border-bottom: 2px solid var(--main-color, #000);
}

.decoration-text {
  position: absolute;
  z-index: 2;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  color: var(--main-color, #000);
  font-family: var(--text-font-accent);
  font-size: 14px;
  font-weight: 400;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color),
    1px 0 var(--bg-color), 0 -1px var(--bg-color);
}

@supports (
  (text-stroke: 0.5px var(--accent-color)) or
    (-webkit-text-stroke: 0.5px var(--accent-color))
) {
  .decoration-text {
    -webkit-text-stroke: 0.5px var(--accent-color, #fff);
    text-stroke: 0.5px var(--accent-color, #fff);
    text-shadow: none;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* image filters */

.img__filter-contrast {
  filter: contrast(2);
}

.img__filter-gray {
  filter: grayscale(80%);
}

.img__filter-saturate {
  filter: saturate(1.6);
}

.img__filter-hue {
  filter: hue-rotate(-90deg);
}

.img__filter-sepia {
  filter: sepia(40%);
}

.img__filter-invert {
  filter: invert(0.2);
}

.img__filter-mix {
  filter: brightness(120%) grayscale(40%) contrast(2);
}

/*------*/

.section__block-text {
  display: grid;
  gap: 27px;
  padding: 25px;
}

.section__text {
  font-weight: var(--text-weight, 400);
  font-size: 18px;
  line-height: 21px; /* 116.667% */
}

/* buttons */
.section__block-buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 4px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.button {
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--main-color, #000);
  padding: 0;
  cursor: pointer;
}

/* heart button */

.card__icon-button {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  height: 38px;
  transition: border 0.3s;
  transition-timing-function: ease;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--main-color, #000);
}

/* like button */

.card__like-button {
  display: grid;
  align-items: center;
  max-height: 38px;
  width: 130px;
}

.button__text {
  font-size: 14px;
  font-family: var(--text-font-accent);
  line-height: 90%;
  padding: 0;
}

/* button save */

.container__button-save {
  display: grid;
  justify-content: center;
}

.save__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  inline-size: 335px;
  padding-block-start: 15px;
  padding-block-end: 15px;
}

.button-animation:hover .save-icon {
  position: relative;
  z-index: 2;
  fill: var(--save-color, #fff);
  transition: fill 0.5s;
  transition-timing-function: ease;
}

.button-animation:not(:hover) .save-icon {
  position: relative;
  z-index: 2;
  fill: var(--main-color, #000);
  transition: fill 0.5s;
  transition-timing-function: ease;
}

.save-icon {
  fill: var(--main-color);
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 2;
}

/* dialog */

dialog {
  inline-size: clamp(21.32rem, 20.958rem + 1.502vw, 22.32rem);
  color: var(--main-color, #000);
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--main-color, #000);
  font-family: var(--text-font-accent);
  text-transform: uppercase;
  font-size: 14px;
  padding: 30px;
}

dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog[open] {
  display: grid;
  gap: 30px;
}

.dialog[open] .dialog__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.dialog__button {
  text-transform: uppercase;
  width: 100%;
  padding: 9px 17px;
  cursor: pointer;
}

.dialog-icon {
  width: 39px;
  min-width: 39px;
  height: 39px;
  align-self: center;
  color: var(--main-color, #000);
}

.dialog__text {
  line-height: 150%;
}

@media (width <= 376px) {
  .header {
    padding-top: 120px;
  }

  .header__theme-menu {
    padding-inline-start: 155px;
    padding-inline-end: 133px;
  }

  .content {
    gap: 50px;
    margin-bottom: 102px;
  }

  .section__title {
    padding-left: 12px;
    padding-right: 12px;
  }

  .decoration-text {
    inset-block-start: 24px;
    inset-inline-end: 11px;
  }

  .save__button {
    flex-direction: column;
    inline-size: 306px;
  }

  .save-icon {
    width: 1.75rem;
    height: 1.75rem;
  }
}

/* button-animation */

.button-animation {
  position: relative;
  height: 100%;
}

.button-animation:focus {
  outline: none;
  transition: box-shadow 0.3s;
  transition-timing-function: ease;
}

.button-animation:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color, #000);
}

.button-animation::before {
  content: "";
  width: 0%;
  height: 100%;
  transition: none;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
}

.button-animation:hover .button__text {
  position: relative;
  z-index: 2;
  color: var(--like-hover, #fff);
  mix-blend-mode: difference;
}

.button-animation:hover::before {
  width: 100%;
  left: 0;
  top: 0;
  transition: width 0.5s;
  transition-timing-function: ease;
  background-color: var(--main-color, #000);
}

.button-animation:not(:hover) .button__text {
  position: relative;
  z-index: 2;
}
